* {
    margin: 0;
  }
  
  html,
  body {
    height: 100%;
    background-image: url("site-background.jpg");
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    margin: 0.5em 0 0.5em 0;
  }
  
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
    padding: 10px;
  }

  footer {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
    padding-bottom: 3em;
  }
  
  
  nav a:visited,
  nav a:link, h1 {
    color: #fff;
    text-decoration: none;
  }
  
  nav > ul {
    float: right;
    display: inline;
    padding-right: 3em;
  }
  
  nav > ul > li {
    display: inline-block;
    list-style: none;
    padding-right: 3em;
    margin: 0 5px 0 5px;
  }
  
  main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
  }

  aside,
  article {
    padding: 2em;
  }
  
  aside {
    text-align: center;
  }
  
  article {
    padding-top: 5em;
    width: 75%;
  }
  
  #row1 {
    display: inline-block;
    width: 100%;
  }
  
  #row2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px; /* Adjust as needed */
  }

 div#project {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

  table, th, td {
    border: 1px solid black;
  }
  
  @media only screen and (min-width: 768px) {
    main {
      display: flex;
    }
  
    aside {
      margin-left: 2%;
    }
  
    .columns-desktop {
      display: flex;
    }

    /* New additions to improve layout */
    th, td {
      padding: 0.5em;
      border: 1px solid #000;
    }

    caption {
      font-weight: bold;
      text-align: left;
    }

     /* Improve table layout */
     table {
      width: 100%;
      border-collapse: collapse;
    }

  /* Adjust the table width to fill available space */
table {
    width: 100%;
  }

  }
